In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3

domain='https://books.toscrape.com/'
soup=BeautifulSoup(requests.get(domain).text,'html.parser')


rates_dic={'Zero':0,'One':1,'Two':2,'Three':3,'Four':4,'Five':5}

for li_cat in soup.find('div',attrs={'class':'side_categories'}).find('ul',attrs={"class":"nav nav-list"}).find('ul').find_all('li'):
    soup_cat=BeautifulSoup(requests.get(domain+li_cat.find('a').get('href')).text,'html.parser')
    category=li_cat.get_text().strip()
    for li in soup.find_all('article',attrs={'class':'product_pod'}):
        name=li.find('h3').find('a').get('title')
        rate=rates_dic[li.find('p').get('class')[1]]
        price=float(li.find('p',attrs={'class':'price_color'}).get_text()[2:])
        connections = sqlite3.connect('/Users/geforce/Desktop/Data Science CO/lec10/Ass/Assig.db')
        connections.execute('insert into Books (category , price , rating ,title) values (?,?,?,?)' ,[category,price,rate,name])
        connections.commit()
    
        
    url=domain+li_cat.find('a').get('href')


while (soup_cat.find('li',attrs={'class':'next'})):
    soup_cat=BeautifulSoup(requests.get(url[:url.rfind('/')+1]+soup.find('li',attrs={'class':'next'}).find('a').get('href')).text,'html.parser')
    for li in soup.find_all('article',attrs={'class':'product_pod'}):
        name=li.find('h3').find('a').get('title')
        rate=rates_dic[li.find('p').get('class')[1]]
        price=float(li.find('p',attrs={'class':'price_color'}).get_text()[2:])
        connections = sqlite3.connect('/Users/geforce/Desktop/Data Science CO/lec10/Ass/Assig.db')
        connections.execute('insert into Books (category , price , rating ,title) values (?,?,?,?)' ,[category,price,rate,name])
        connections.commit()

In [6]:
df = pd.read_sql('select * from Books',connections)
df

,BooksID,category,price,rating,title
0,1,Travel,51.77,3,A Light in the Attic
1,2,Travel,53.74,1,Tipping the Velvet
2,3,Travel,50.10,1,Soumission
3,4,Travel,47.82,4,Sharp Objects
4,5,Travel,54.23,5,Sapiens: A Brief History of Humankind
...,...,...,...,...,...
995,996,Crime,57.25,3,Our Band Could Be Your Life: Scenes from the A...
996,997,Crime,23.88,1,Olio
997,998,Crime,37.59,1,Mesaerion: The Best Science Fiction Stories 18...
998,999,Crime,51.33,2,Libertarianism for Beginners
999,1000,Crime,45.17,2,It's Only the Himalayas